<%= form_with(model: layer) do |form| %>
  <% if layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(layer.errors.count, "error") %> prohibited this layer from being saved:</h2>

      <ul>
        <% layer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Layer name" %>
    <%= form.text_field :name %>
  </div>

  <div class="field radio">
    <h3>Geometry type</h3>
    <%= form.collection_radio_buttons :geometry_type, Layer.enum_geometry_types.keys, :to_s, :titlecase %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
