<p id="notice"><%= notice %></p>

<h1>Layers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @layers.each do |layer| %>
      <tr>
        <td><%= layer.name %></td>
        <td><%= link_to 'Show', layer %></td>
        <td><%= link_to 'Edit', edit_layer_path(layer) %></td>
        <td><%= button_to 'Destroy', layer, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Layer', new_layer_path %>
