<tr id="<%= dom_id(row_content) %>"
    data-map-target="point"
    data-lng="<%= row_content.point.x %>"
    data-lat="<%= row_content.point.y %>"
    data-controller="row"
    data-action="focusout->row#focusOut"
>
    <% row_content.layer.fields.each do |field| %>
        <%= render partial: "fields/field_in_form", locals: {field: field, value: row_content.values[field.id], form: row_content.id} %>
    <% end %>
    <td id="<%= row_content.id %>-action">
        <div class="actions">
            <%= form_with method: :patch, model: row_content, id: row_content.id, data: {"row-target": "form"} do |form| %>
                <%= form.button method: :update, disabled: true, data: {"row-target": "save", "action": "row#setLoading"} do %>
                    Save
                <% end %>
            <% end %>
            <%= button_to row_content, method: :delete do %>
                Delete
            <% end %>
        </div>
    </td>
</tr>
