<%= form_with model: Field.new, data: {action: "dropdown#toggle"} do |form| %>
  <%= form.hidden_field :layer_id, value: @layer.id %>
  <div>
    <%= form.label "Field label", class: "label" %>
    <%= form.text_field :label, class: "input" %>
  </div>

  <div>
    <%= form.label "Field name" %>
    <div>
      <%= form.collection_radio_buttons(:field_type, Field.enum_field_types.keys, :to_s, :titlecase) do |b| %>
        <%= b.label(class: "radio") do %>
          <%= b.text %>
          <%= b.radio_button %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
